<h1>Edit Player unit</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.player_unit_path(@conn, :update, @player_unit)) %>

<span><%= link "Back", to: Routes.player_unit_path(@conn, :index) %></span>
